body{
    padding: 100px;
}

.submit-area{
    margin-top:50px;
    margin-bottom: 50px;
    padding: 50px 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px lightslategray;
}
.text-center{
    padding-bottom: 50px;
}
#transaction-area{
    display: none;
}

.deposite{
    
    background-color: rgb(123, 104, 248);

}
.withdraw{
    
    background-color: rgb(245, 139, 97);

}
.balance{
    
    background-color: rgb(248, 183, 63);

}
.status{
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 15px;
    color: whitesmoke;
    text-align: center;
}

.mycolor{
    background-color: rgb(188, 243, 225);
}